.ProjectDetail {
  width: 100vw;
}

.Size {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.ImgContainer {
  height: 100%;
  width: 100%;
}

.Image {
  max-width: 100%;
}

.BtnContainer {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-bottom: 20px;
}