.ProjectDetail {
  width: 100vw;
}

.Size {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.Image {
  width: 100%;
}

.VideoContainer {
  position: relative;
  padding-bottom: 56.25%;
}

.Video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.Slideshow {
  position: relative;
  width: 100%;
}

.Prev, .Next {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 34px);
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #212529;
  font-weight: bold;
  font-size: 2em;
  opacity: 0.4;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.Next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.Prev:hover,
.Next:hover {
  background-color: #212529;
  color: #fff;
  opacity: 1;
}

.SlideNumber {
  color: #212529;
  font-size: 1em;
  font-weight: 600;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.Fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.InfoBlock {
  display: flex;
  flex-direction: row;
}

.InfoLeft {
  width: 40%;
  margin-right: 20px;
}

.ProjectTitle {
  margin: 25px 0;
  font-size: 3.1em;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.ProjectStack {
  margin-top: 25px;
  font-size: 1.1em;
  text-align: center;
}

.BtnContainer {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 30px 0;
}

@media (max-width: 992px) {
  .InfoBlock {
    flex-direction: column;
  }

  .InfoLeft {
    width: 100%;
    justify-content: center;
  }
}