.ContactForm {
  min-height: calc(100vh - 225px);
  width: 100vw;
  background-color: lightgrey;
}

.Size {
  min-height: calc(100vh - 225px);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.FormBody {
  margin-bottom: 30px;
}

.ButtonContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.FormRow {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.FormColL {
  width: 100%;
}

.FormColM {
  width: 90%;
}

.FormColS {
  width: 20%;
}

.FormBox {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .FormRow {
    flex-flow: column;
  }

  .FormColM {
    width: 100%;
    margin-top: 1rem;
  }

  .FormColS {
    display: none;
  }
}