.ContactForm {
  min-height: calc(100vh - 225px);
  width: 100vw;
  background-color: lightgrey;
}

.Size {
  min-height: calc(100vh - 225px);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.FormBody {
  margin-bottom: 2em;
}

.ButtonContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.FormRow {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.FormColL {
  width: 100%;
}

.FormColM {
  width: 90%;
}

.FormColS {
  width: 20%;
}

.FormBox {
  width: 100%;
}

.FormTextArea {
  min-height: calc(100vh - 425px - 5.6em);
}

@media (max-width: 768px) {
  .FormRow {
    flex-flow: column;
  }

  .FormColM {
    width: 100%;
    margin-top: 1.2em;
  }

  .FormColS {
    display: none;
  }

  .FormTextArea {
    min-height: calc(100vh - 425px - 8em);
  }
}