.ProjectsContainer {
  min-height: calc(100vh - 50px);
  width: 200vw;
  display: flex;
  flex-flow: row;
  background-color: #A2B5CD;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.DetailList {
  max-width: 666px;
  margin: 0 auto;
}