.Modal {
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  width: 70vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  right: calc(25% - 35vw);
  top: 30%;
  transition: all 0.3s ease-out;
  text-align: center;

  z-index: 500;
}

@media (min-width: 600px) {
  .Modal {
      width: 500px;
      right: calc(25% - 250px);
  }
}