.Arrow {
  font-size: 4.0rem;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Arrow:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.3);
}