.Header {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.Title {
  padding-top: 30vh;
  font-size: 4.0rem;
  font-weight: 600;
}

.Subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.Arrow {
  padding-top: 30vh;
  font-size: 4.0rem;
  opacity: 0.5;
}

@media (max-height: 500px) {
  .Title {
    padding-top: 20vh;
  }

  .Arrow {
    padding-top: 20vh;
  }
}