.About {
  min-height: 100vh;
}

.ContentWrap {
  display: flex;
  flex-flow: column;
}

.PicWindow {
  height: 250px;
  width: 200px;
  border-radius: 35px;
  background-size: 250px auto;
  background-position-x: 70%;
  background-position-y: 10%;
  margin: 0 auto 0 auto;
}

.AboutBlurb {
  margin-block-start: 2em;
}

.Maintenance {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-style: italic;
  font-size: 2.0rem;
}