.About {
  min-height: calc(100vh - 50px);
}

.AboutHide {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Size {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/* .ContentWrap {
  
} */

.PicWindow {
  height: 250px;
  width: 200px;
  border-radius: 35px;
  background-size: 250px auto;
  background-position-x: 70%;
  background-position-y: 10%;
  margin: 0 auto 0 auto;
}

.AboutBlurb {
  margin-block-start: 2em;
}

.Maintenance {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-style: italic;
  font-size: 2.0em;
}