.Projects {
  min-height: calc(100vh - 50px);
  width: 100vw;
}

.Size {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.ProjectsHide {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ProjectList {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 44px;
}