.ContactContainer {
  min-height: calc(100vh - 225px);
  width: 200vw;
  background-color: lightgrey;

  display: flex;
  flex-direction: row;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}